@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

// ==============================|| CUSTOM STYLES - INDIA ||============================== //

// -------------- FONT VARIABLES ------------------- //

$primary-font: "Source Sans Pro", sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// ------------------- MIXINS --------------------- //

@mixin font($font-weight, $font-size, $color) {
    font-family: $primary-font;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

@mixin flex($justify-content, $align-items, $flex-direction: row) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: $justify-content;
    -ms-flex-pack: $justify-content;
    justify-content: $justify-content;
    -webkit-box-align: $align-items;
    -ms-flex-align: $align-items;
    align-items: $align-items;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: $flex-direction;
    flex-direction: $flex-direction;
}

@mixin flexcenter() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

// ------------------- COLORS --------------------- //

$purple: #b277e0;
$black: #303030;
$dark-purple: #48226d;
